h2 {
    margin: 20px 0 0 20px;
}
.button__show{
    text-align: center;
}
.button__show button {
    font-size: 30px;
}

.page__list{
    margin: 0 auto;
    width: 550px;
    overflow-y: auto;
}

.current__page{
    font-weight: bold;
}

.page__list span{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}