nav {
	grid-area: n;
	background-color: #46d0ae;
	border-radius: 5px;
	padding: 10px 30px;
}
.item   {
	margin-bottom: 10px;
	text-transform: uppercase;
	
}

a {
	text-decoration: none;
	color: black;
	font-size: 22px;
}
.active_link{
	color: rgba(0, 0, 255, 0.753);
	font-weight: bold;
}

.settings, .friends {
	margin-top: 30px;
}

.settings a{
	font-size: 30px;	
}

.item > a:hover{
	color: #f7ec54;
	text-shadow: 1px 1px #030a08;
}
