nav {
  grid-area: n;
  background-color: #e7e9eb;
  border-radius: 5px;
  padding: 10px 30px;
}
.item {
  margin-bottom: 10px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.active_link {
  color: #04aa6d;
  font-weight: bold;
}

.settings,
.friends {
  margin-top: 30px;
}

.settings a {
  font-size: 30px;
}

.item > a:hover {
  color: #000000;
  text-shadow: 1px 1px #030a08;
}
