.app-wrapper {
	display: grid;
	grid-template-areas:
		"h h"
		"n c";
	grid-template-rows: 120px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 5px;
	max-width: 1200px;
	margin: 0 auto;
}

.app-wrapper__content {
	grid-area: c;
	background-color: rgba(26, 209, 209, 0.521);
}
